@model Car

<h2>Deleting @Model.Model</h2>
<hr />

@if(ViewData["ErrorMessage"] is not null)
{
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}

<div>
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="Model"></label>
        </dt>
        <dd class="col-sm-10">
            @Model?.Model
        </dd>
        <dt class="col-sm-2">
            <label asp-for="PlateNumber"></label>
        </dt>
        <dd class="col-sm-10">
            @Model?.PlateNumber
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Location"></label>
        </dt>
        <dd class="col-sm-10">
            @Model?.Location
        </dd>
    </dl>
</div>

<form method="post" asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete car" class="btn btn-danger" onclick="javascript: return confirm('Are you sure you want to delete this car?');" />
</form>
<hr />
<div>
    <a asp-controller="Car" asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
