@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Are you ready to rent a ride?</p>
    <img src="https://th.bing.com/th/id/R.b15a06933c4d3778a6e62ab1a76be2e1?rik=rmGV0I%2brtc1jow&pid=ImgRaw&r=0" height="500px" alt="Rent a ride gif" style="max-width: 100%; height: auto;">
    <p> </p>
    <a asp-controller="Car" asp-action="Index" class="btn btn-primary">Rent a ride</a>
</div>
